Exercise 1. 

Create a table named Countries which has country_id column as the primary key and name column. Then insert least 3 rows of data and use SELECT command to show the contents of the table.

In [1]:
# You need to run this cell to connect to in-memory database

#importing the sqlite module 
import sqlite3

# In memory database
dbconn = sqlite3.connect(':memory:')

#set a variable up for the cursor to write SQL scripts
db = dbconn.cursor()

In [2]:
db.execute("""CREATE TABLE Countries( 
                           Country_ID INTEGER PRIMARY KEY AUTOINCREMENT,
                           TEXT Country_Name
)""")

In [8]:
db.execute("INSERT INTO Countries VALUES (NULL,'Congo')")
db.execute("INSERT INTO Countries VALUES(NULL, 'India')")
db.execute("INSERT INTO Countries VALUES(NULL,'Canada')")
dbconn.commit
db.execute("SELECT * FROM Countries")
print(db.fetchall())

[(100, 'Congo'), (101, 'India'), (102, 'Canada'), (103, 'Congo'), (104, 'India'), (105, 'Canada'), (106, 'Congo'), (107, 'India'), (108, 'Canada'), (109, 'Congo'), (110, 'India'), (111, 'Canada')]

In [12]:
db.execute("DELETE FROM Countries WHERE Country_ID=101")
db.execute("SELECT * FROM Countries")
print(db.fetchall())

[(100, 'Congo'), (102, 'Canada'), (103, 'Congo'), (104, 'India'), (105, 'Canada'), (106, 'Congo'), (107, 'India'), (108, 'Canada'), (109, 'Congo'), (110, 'India'), (111, 'Canada')]

In [14]:
db.execute("DELETE FROM Countries WHERE Country_ID= 110")
db.execute("SELECT * FROM Countries")
print(db.fetchall())

[(100, 'Congo'), (102, 'Canada'), (103, 'Congo'), (104, 'India'), (105, 'Canada'), (106, 'Congo'), (107, 'India'), (108, 'Canada'), (109, 'Congo'), (111, 'Canada')]

In [15]:
db.execute("DELETE FROM Countries WHERE Country_ID=104")
db.execute("SELECT *FROM Countries")
print(db.fetchall())

[(100, 'Congo'), (102, 'Canada'), (103, 'Congo'), (105, 'Canada'), (106, 'Congo'), (107, 'India'), (108, 'Canada'), (109, 'Congo'), (111, 'Canada')]

In [16]:
db.execute("DELETE FROM Countries WHERE Country_ID=111")
db.execute("SELECT *FROM Countries")
print(db.fetchall())

[(100, 'Congo'), (102, 'Canada'), (103, 'Congo'), (105, 'Canada'), (106, 'Congo'), (107, 'India'), (108, 'Canada'), (109, 'Congo')]

In [17]:
db.execute("DELETE FROM Countries WHERE Country_ID=109")
db.execute("SELECT *FROM Countries")
print(db.fetchall())

[(100, 'Congo'), (102, 'Canada'), (103, 'Congo'), (105, 'Canada'), (106, 'Congo'), (107, 'India'), (108, 'Canada')]

In [18]:
db.execute("DELETE FROM Countries WHERE Country_ID=108")
db.execute("SELECT *FROM Countries")
print(db.fetchall())

[(100, 'Congo'), (102, 'Canada'), (103, 'Congo'), (105, 'Canada'), (106, 'Congo'), (107, 'India')]

In [19]:
db.execute("DELETE FROM Countries WHERE Country_ID=105")
db.execute("SELECT *FROM Countries")
print(db.fetchall())

[(100, 'Congo'), (102, 'Canada'), (103, 'Congo'), (106, 'Congo'), (107, 'India')]

In [20]:
db.execute("DELETE FROM Countries WHERE Country_ID=100")
db.execute("SELECT *FROM Countries")
print(db.fetchall())

[(102, 'Canada'), (103, 'Congo'), (106, 'Congo'), (107, 'India')]

In [22]:
db.execute("DELETE FROM Countries WHERE Country_ID=106")
db.execute("SELECT *FROM Countries")
print(db.fetchall())
dbconn.commit

[(102, 'Canada'), (103, 'Congo'), (107, 'India')]

Exercise 2.

Create a table name Cities which has city_id column as the primary key, name column, population column, and country_id column as the foreign key connecting to country_id column of Countries table from Exercise 1. 

Then 
- insert least 5 rows of data 
- use SELECT command to show the contents of the table
- use SELECT command to only show the cities of selected country

In [5]:
db.execute("""CREATE TABLE citity(
               City_ID INTEGER PRIMARY KEY AUTOINCREMENT,
               Name TEXT,
               Population  INTEGER,
               Country_ID INTEGER,
               FOREIGN KEY(Country_ID) REFERENCES Countries(Country_ID)
               )""")
dbconn.commit()

In [6]:
db.execute("INSERT INTO citity VALUES(NULL, 'New York City', 93939989388, 1)")
db.execute("INSERT INTO citity VALUES(NULL, 'San Francisco' ,993299999281, 2)")
db.execute("INSERT INTO citity VALUES(NULL,'Hollywood',99298989898, 3)")
db.execute("INSERT INTO citity VALUES(NULL, 'Las Vagus',9399989939893,4)")
db.execute("INSERT INTO citity VALUES(NULL, 'New Dehli',92990290902098, 5)")

In [7]:
db.execute("SELECT * FROM citity")
print(db.fetchall())

[(1, 'New York City', 93939989388, 1), (2, 'San Francisco', 993299999281, 2), (3, 'Hollywood', 99298989898, 3), (4, 'Las Vagus', 9399989939893, 4), (5, 'New Dehli', 92990290902098, 5)]

Exercise 3.

Modify 3rd row of Cities table to increase city's population by 1,000. Show data before and after the change.

In [4]:
db.execute("""UPDATE TABLE citity(
               Population AUTOINCREMENT BY 1000 
""")

OperationalError: near "TABLE": syntax error